/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* Custom CSS*/

html {
    height: 100%;
    /*background: url("http://www.duraltennis.com/Social-Tennis-Ten-Australia_5OCT-13-33597-1024-700x450.jpg") no-repeat center center fixed; */
    background: url("/img/envolve-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

.logo {
    height: 133px;
    width: 100%;
    background: url("/img/envolve-logo-full-color.png") center no-repeat;
    background-size: 351px 130px;
}

.description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.relative {
    position: relative;
}

.center {
    text-align: center;
}

.loginbtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 60px;
  margin: 40px 0;
  text-decoration: none;
  outline: none;
  
  /*Facebook logo*/
  background: #3b5998 url("/img/fbSmallLogo.png") 18px 10px no-repeat;
  background-size: 30px;
}

.loginbtn:hover {
  background-color: #8b9dc3;
  text-decoration: none;
  outline: none;
}
.loginbtn:active {
    background-color: #7975B6;
}
/*
 *    Jake's styles
 */
 
 .optionRow {
     margin: 15px 0;
 }

.firstrowlabel {
    width: 15%;
    text-align: right;
}
.inlineblock {
    display: inline-block;
}
.firstrowfield {
    width: 29%;
    margin-left: 10px;
}
.fieldstyle {
    border: 3px solid #c9c6c6;
    width: 100%; 
    height: 48px;
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: 300;
}
.secondrowlabel {
    width: 44%;
    text-align: right;
    margin-right: 10px;
}

.labelText {
    color: #363636;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.select {
   background: -webkit-linear-gradient(#efefef, #d1d1d1); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#efefef, #d1d1d1); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#efefef, #d1d1d1); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#efefef, #d1d1d1); /* Standard syntax */
  
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   height: 34px;
}

.calBtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px 10px 60px;
  margin: 10px 0;
  text-decoration: none;
  outline: none;
  
  /*Facebook logo*/
  background: #38B443 url("/img/calendar.png") 18px 8px no-repeat;
  background-size: 30px;
}

.calBtn:hover {
  background-color: #63C167;
  text-decoration: none;
  outline: none;
}
.calBtn:active {
    background-color: #29C130;
}

.orsee {
    margin: 10px 0 30px 0;
}
.orsee a {
    font-weight: 400;
    color: black;
    text-decoration: underline;
}

.iwanttolabel {
    display: inline-block;
}
.activityfield {
    display: inline-block;
}
.notifyme {
    display: inline-block;
    width:23%
}
.notifyme p {
    font-size:1.6em
}
.phonenofield {
    display: inline-block;
    width: 24%;
}
.atlabel {
    width: 20%;
}

.locationbtn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  margin: 0;
  padding: 12px;
  text-decoration: none;
  outline: none;
  width: 45px;
  height: 45px;
  background: #15AD8D url("/img/location.png") 50% 50% no-repeat;
  background-size: 60%;
}

.beforecontainer {
    width: 60%; 
    display:inline-block
}
.locationcontainer {
    width: 23.5%; 
    display:inline-block;
}

#getEnvolvedBtn {
    background-color: #3EB94E;
    width: 100%;
}
#getEnvolvedBtn p {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3% 0;
    margin: 0;
    color: #fff;
}

.getEnvolvedShown {
    height: 65px;
    background-color: #3EB94E;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.getEnvolvedShown:hover {
    background-color: #6FB173;
}
.getEnvolvedShown: active {
    background-color: #58B078;
}
.getEnvolvedShown p {
    height: 100%;
    text-align: center;
    padding: 3% 0 3% 45%;
    width: 57%;
    margin: 0 auto;
    color: #fff;
    display: inline-block;
}
.goIcon {
    background: url(/img/go-arrow.png) center center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.getEnvolvedHidden {
    height: 0px;
    opacity: 0;
}
.getEnvolvedCompHidden {
    opacity: 0;
}
.getEnvolvedCompShown {
    opacity: 1;
}

.orseeHidden {
    height: 0;
    margin: 0;
    opacity: 0;
}

/*
 *    Animations
 */

@-webkit-keyframes changeBorderRadius {
    from {border-radius: 28px;}
    to {border-radius: 6px;}
}

/* Standard syntax */
@keyframes changeBorderRadius {
    from {border-radius: 28px;}
    to {border-radius: 6px;}
}

.row div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

/*
 *    Dylan's styles
 */
 
 .transparentOverlay {
     background: rgba(255,255,255,0.85);
     position: absolute;
     border-radius: 5px;
     padding: 20px 15px 0 15px;
     margin-top: 50px;
 }
 
 .container {
     width: 30%;
     display: inline-block;
 }
 
 .row-fluid{
     white-space: nowrap;
 }
 
 .row-fluid .col-lg-3{
     display: inline-block;
 }
 
 .listing {
     background-color: #ccc;
     border-radius: 5px;
 }
 
/*
 *    Chris's style 
 */
 
.the_basics {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}

#search {
    border: 3px solid #c9c6c6;
    font-size: 1.3em;
    letter-spacing: 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: #333;
    width: 100%;
    z-index: 10;
}

/*
 *    Responsive styles
 */
 
 #formCol {
     
 }
 #mapCol {
     height: 50vh;
     margin: 0;
     /*background-color: red;*/
 }
 
 .formColFull {
     width: 100%;
     display: inline-block;
 }
 .formColHalf {
     width: 49%;
     display: inline-block;
 }
 .formColNone {
     width: 0%;
     display: none;
 }
 .mapColFull {
     width: 100%;
     display: inline-block;
 }
 .mapColHalf {
     width: 50%;
     left: 50%;
     display: inline-block;
 }
 .mapColNone {
     width: 0%;
     position: absolute;
    left: -100%;
    /*if you change this css it'll break the map*/
 }
 
@media all and (min-width: 0px) and (max-width: 1250px) {
    .labelText {
        font-size: 1.5em;
    }
    .notifyme p {
        font-size: 1.2em;
    }
    .secondrowlabel {
        width: 24%;
    }
    .container {
        width: ;
    }
}

@media all and (min-width: 910px) and (max-width: 975px) {
    .labelText {
        font-size: 1.3em;
    }
    .notifyme p {
        font-size: 1.1em;
    }
}

@media all and (min-width: 0px) and (max-width: 910px) {
    .container {
        width: 70%;
    }
    .labelText {
        font-size: 1.3em;
    }
    .notifyme p {
        font-size: 1.1em;
    }
    .activityfield {
        width: 70%;
        margin-bottom: 20px;
    }
    .firstrowlabel {
        width: 25%;
    }
    .phonenofield {
        width: 65%;
    }
    .notifyme {
        width: 26%;
    }
    .beforecontainer {
        width: 100%;
    }
    .locationcontainer {
        width: 100%;
    }
}

@media all and (min-width: 0px) and (max-width: 847px) {
    .notifyme p {
        font-size: 1.0em;
    }
    .secondrowlabel {
        width: 33%;
    }
}

@media all and (min-width: 0px) and (max-width: 768px) {
    .transparentOverlay {
        border-radius: 0;
    }
}

@media all and (min-width: 0px) and (max-width: 488px) {
    .description {
        width: 100%;
        font-size: 1em;
    }
    
    .transparentOverlay {
        margin-top: 0;
    }
    
    .labelText {
        text-align: left;
        font-size: 1.9em;
    }
    .notifyme {
        font-size: 1.9em;
    }
    
    .firstrowlabel {
        width: 100%;
    }
    .activityfield {
        width: 100%;
    }
    .phonenofield {
        width: 94%;
    }
    
    .secondrowlabel {
        width: 100%;
    }
    .secondrowlabel p {
        text-align: left;
    }
    
    .calBtn {
        width: 75vw;
        margin: 0 auto;
    }
    .loginbtn {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        width: 100%;
    }
}

@media all and (min-width: 0px) and (max-width: 351px) {
    .loginbtn {
        font-size: 13px;
        padding-left: 20px;
        background: #3b5998 url("/img/fbSmallLogo.png") 24px 8px no-repeat;
        background-size: 22px;
    }
}

@media all and (min-width: 0px) and (max-width: 305px) {
    .calBtn {
        font-size: 15px;
        padding-left: 20px;
        background: #38B443 url("/img/calendar.png") 24px 8px no-repeat;
        background-size: 22px;
    }
}