/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* Custom CSS*/

.navbar-default {
    background: none;
    border: none;
}

body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
  font-family: 'Open Sans' !important;
  bottom: -50px;
  
  background: white url(/img/envolve-bg-blur.png) no-repeat;
  background-size: contain;
}

#left {
  position: absolute;
  top: 10%;
  bottom: -50px;
  left: 0;
  width: 40%;
  overflow-y: scroll;
  /*background-color: #FC6E51;*/
  text-align: center;
  height: 90%;
}

#right {
  position: absolute;
  top: 0%;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  /*background-color: #4FC1E9;*/
  text-align: center;
}

/*From ComponentsDTV*/

html {
    height: 100%;
}

.body {
    height: 100%;
}

.center {
    text-align: center;
}
 
.row {
    /*padding-top: 100px;*/
}

 .listing {
     background-color: #ddd;
     border-radius: 10px;
     padding: 20px;
     margin: 20px ;
 }
 
 .listing > span {
     display: inline-block;
 }
 
 .listOwner {
     border-radius: 50px;
     display: inline-block;
     margin-top: -30px;
     margin-right: 10px;
 }
 
 .listing .activity {
     color: #222;
     font-size: 24px;
     line-height: 1;
     margin: 0;
 }
 
 .whatAndWhen {
     display: inline-block;
     color: #666;
 }
 
 .ageIndicator {
     display: inline-block;
     float: right;
 }
 
 .whoElse {
     margin: 10px 0px 0px 25px;
 }
 
 .otherParticipant {
     border-radius: 30px;
     border: 3px solid #ddd;
     margin-right: -15px;
     display: inline-block;
 }
 
 .lookingFor {
     margin: 0px 0px 15px;
     line-height: 1;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: bolder;
     color: #666;
     float: right;
     clear: both;
     display: inline-block;
 }
 
 .genderIcon {
     width: 18px;
     height: 18px;
 }




/*Jake's Styles*/

.inlineblock {
  display: inline-block;
}

h1 {
  padding: 10px 0;
  margin: 0;
  color: white;
}

.topbar {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
}

.columnwrapper {
  width: 100%;
}

.detailsWrap {
  width: 80%;
  margin: 100px auto;
}

.profilepicture {
  margin: 0 auto;
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  border-radius: 50%;
  background: url("/img/examplePP/jake.png") no-repeat;
  background-size: cover;
}
.nameLabel p {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4em;
  margin: 20px 0;
}

.infowrap {
  width: 100%;
  margin: 0 auto;
}
.inforow {
  height: 70px;
  background-color: red;
  margin: 0 auto;
}

.iconWrap {
  background: center center no-repeat;
  background-size: contain;
  height: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.phone {
    background-image: url("/img/phone.png");
}
.email {
    background-image: url("/img/email.png");
}
.facebook {
    background-image: url("/img/facebook.png");
}

.infolabel { 
    margin-top: 5px;
    margin-bottom: 5px;
    height: 75px;
    display: table;
}
.infolabel p {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
}
